body {
    background-color: #c7ced8;
    font-family: Roboto, sans-serif;
}

table {
    border-color: black;
    table-layout: fixed;
    width: 80%;
    margin: 20px auto 0;
}
table tr:first-of-type {
    background: #27426d;
    color: white;
}

tr:nth-child(2n){
    background: #4f8cef;
    color: white;
}

tr:nth-child(2n+1){
    background: #6facff;
    color: white;
}


td {
    text-align: center;
    vertical-align: middle;
}
